@page
@using Microsoft.Extensions.Localization
@using EasyAbp.ReviewManagement.Localization
@model EasyAbp.ReviewManagement.Web.Pages.ReviewManagement.IndexModel
@inject IStringLocalizer<ReviewManagementResource> L
@{
}
<h1>ReviewManagement</h1>
<p>@L["SamplePageMessage"]</p>
